.container {
  @media (max-width: 991px) {
    max-width: 800px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.people {
  display: flex;
  padding-top: 70px;

  @media (max-width: 767px) {
    order: 2;
    padding-top: 15px;
    height: 275px;
    max-width: 270px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
  }

  @media (max-width: 575px) {
    margin-top: 10px;
  }

  &:hover {
    .person {
      filter: opacity(85%);
    }
  }

  .person {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    // filter: opacity(85%);

    span {
      position: absolute;
      display: inline-block;
      padding: 13px 30px;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.15);
      color: #373737;
      white-space: nowrap;
      font-size: 14px;
      transition: 0.5s;

      @media (max-width: 992px) {
        font-size: 12px;
        padding: 9px 15px;
        line-height: 15px;
      }

      @media (max-width: 767px) {
        font-size: 8px;
        padding: 6px 10px;
        line-height: 10px;
      }
    }

    &-1 {
      z-index: 8;
      top: 10px;

      @media (max-width: 991px) {
        top: -3px;
      }
      @media (max-width: 767px) {
        position: absolute;
        top: unset;
        left: 0;
        bottom: 0;
      }

      span {
        top: 50%;
        left: -50px;
        z-index: 100;

        @media (max-width: 767px) {
          left: -15px;
        }
      }

      svg {
        @media (max-width: 991px) {
          width: 118px;
          height: 338px;
        }

        @media (max-width: 767px) {
          width: 100px;
          height: 265px;
        }

        // @media (max-width: 575px) {
        //   width: 83px;
        //   height: 221px;
        // }
        // @media (max-width: 575px) {
        //   width: 95px;
        //   height: 250px;
        // }
      }
    }

    &-2 {
      left: -40px;
      top: 10px;

      @media (max-width: 991px) {
        top: 2px;
      }

      @media (max-width: 767px) {
        position: absolute;
        top: unset;
        left: 57px;
        bottom: 0;
      }

      span {
        top: -45px;
        left: -35px;

        @media (max-width: 991px) {
          top: -25px;
        }

        @media (max-width: 767px) {
          left: 0px;
        }

        @media (max-width: 575px) {
          left: -12px;
        }
      }

      svg {
        @media (max-width: 991px) {
          width: 103px;
          height: 338px;
        }

        @media (max-width: 767px) {
          width: 100px;
          height: 265px;
        }

        // @media (max-width: 575px) {
        //   width: 75px;
        //   height: 222px;
        // }
        // @media (max-width: 575px) {
        //   width: 95px;
        //   height: 250px;
        // }
      }
    }

    &-3 {
      top: -6px;
      left: -60px;
      z-index: 2;

      @media (max-width: 767px) {
        position: absolute;
        top: unset;
        left: 120px;
        bottom: 0;
      }

      span {
        top: 35%;
        left: -20px;

        @media (max-width: 767px) {
          left: 0px;
        }

        @media (max-width: 575px) {
          left: -10px;
        }
      }

      svg {
        @media (max-width: 991px) {
          width: 97px;
          height: 345px;
        }

        @media (max-width: 767px) {
          width: 100px;
          height: 290px;
        }

        // @media (max-width: 575px) {
        //   width: 71px;
        //   height: 230px;
        // }
        // @media (max-width: 575px) {
        //   width: 103.75px;
        //   height: 275px;
        // }
      }
    }

    &-4 {
      top: 5px;
      left: -100px;
      z-index: 1;

      @media (max-width: 991px) {
        margin-top: -23px;
      }

      @media (max-width: 767px) {
        position: absolute;
        top: unset;
        left: 170px;
        bottom: 0;
      }

      svg {
        @media (max-width: 991px) {
          width: 143px;
          height: 353px;
        }

        @media (max-width: 767px) {
          width: 120px;
          height: 270px;
        }

        // @media (max-width: 575px) {
        //   width: 97px;
        //   height: 225px;
        // }
        // @media (max-width: 575px) {
        //   width: 110px;
        //   height: 256px;
        // }
      }

      span {
        top: 52%;
        left: 30px;

        @media (max-width: 767px) {
          left: 35px;
          top: 60%;
        }

        @media (max-width: 575px) {
          left: 20px;
        }
      }
    }

    &-5 {
      top: -60px;
      left: -175px;
      z-index: 0;

      span {
        top: -10px;
        right: 5px;
      }
    }

    &-6 {
      top: -7px;
      left: -305px;
      z-index: 3;

      span {
        top: 42%;
        right: 10px;
      }
    }

    &:hover {
      z-index: 10;
      filter: opacity(100%);
      transition: 0.5s;

      span {
        display: block;
        background-color: #623695;
        color: white;
        transition: all 300ms;
        transform: translateY(-10px);
      }
    }
  }

  @media (max-width: 1230px) {
    .person-6 {
      display: none;
    }
  }

  @media (max-width: 1050px) {
    .person-5 {
      display: none;
    }
  }
}

:lang(ru) {
  .people {
    .person {
      span {
        @media (max-width: 767px) {
          font-size: 9px;
          padding: 6px 10px;
          line-height: 10px;
        }
      }

      &-3,
      &-1 {
        span {
          @media (max-width: 575px) {
            left: 7px !important;
          }
        }
      }
    }
  }
}
