.cookie {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 13px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(88, 63, 164, 0.25);

  h6 {
    font-size: 12px;
    margin: 0px;
    max-height: 23px;
    margin: auto 0;

    a {
      text-decoration: underline;
      color: #623695;
    }
  }

  button {
    margin-left: 30px;
    padding: 0px;
    font-size: 14px;
    line-height: 17px;
    min-width: 152px;
    min-height: 26px;
  }
}

@media (max-width: 810px) {
  .cookie {
    display: block;

    h6 {
      text-align: center;
      max-height: 100%;
    }

    button {
      display: block;
      margin: auto;
      margin-top: 10px;
    }
  }
}
