.new-password {
  padding: 180px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;

  .new-password-content {
    padding: 0px;
  }
}
