.reset-password-form {
  padding: 180px 0;
  text-align: center;

  .form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 0 15px;

    .form-group {
      padding: 0px;
    }
    button {
      margin-top: 30px;
    }
  }
}
