button:focus,
.btn.focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.purple-button {
  padding: 15px 50px;
  min-width: 160px;
  border-color: transparent !important;
  border-radius: 10px !important;
  background-color: #623695 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
    color: #ffffff !important;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.clickable {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.take-full-width {
  width: 100%;
}

.default-layout {
  position: relative;
  background: url(../images/background.svg) right top no-repeat;
  background-size: 100%;

  @media (max-width: 768px) {
    background-image: url(../images/background-tablet.svg);
  }

  @media (max-width: 320px) {
    background-image: url(../images/background-mobile.svg);
  }
}

.heading-text {
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-size: 42px;
  font-family: Comfortaa;
  line-height: 55px;
}

.section-header-text {
  /* identical to box height, or 100% */
  color: #000000;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.heading-desc {
  color: #373737;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat;
  line-height: 24px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}

.two-row {
  display: flex;

  .label {
    width: 26%;
  }

  .text {
    width: 74%;
  }
}

// css for Oculisa Text field
.oculisa-textfield:focus {
  box-sizing: border-box;
  border-color: #ddd8ec !important;
  box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25) !important;
}

.oculisa-textfield {
  width: 100%;
  border: 1px solid #ddd8ec;
  border-radius: 10px !important;
  background: #ffffff !important;

  @media (max-width: 575px) {
    width: 100% !important;
  }

  &__error {
    margin-top: 10px;
    margin-left: 3px;
    color: red;
    text-align: left;
    font-size: 14px;
    line-height: 17px;

    @media (max-width: 1200px) {
      font-size: 12px;
      line-height: 15px;
    }

    @media (max-width: 575px) {
      margin-bottom: 10px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  &.textarea {
    outline: none;
    resize: none;
  }

  &.mdc-text-field--focused {
    box-sizing: border-box;
    box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
  }

  .mdc-text-field__input {
    border-bottom-color: transparent !important;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 17px;
    /* identical to box height */

    @media (max-width: 575px) {
      font-size: 12px;
    }
  }

  .mdc-floating-label {
    &.mdc-floating-label--float-above {
      top: 5px;
      margin-top: 9px;
      color: #623695 !important;
      white-space: nowrap;
      font-size: 11px;
      line-height: 13px;
    }
  }

  .mdc-floating-label:not(.mdc-floating-label--float-above) {
    /* identical to box height */
    color: #000000 !important;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 17px;
  }

  .i-dont-need-this {
    display: none !important;
  }
}

.form-label {
  color: #000000;
  font-weight: bold;
  font-size: 16px;

  small {
    color: grey;
  }
}

// CSS for Oculisa Switch Button component
.switch-container {
  position: relative;
  width: 52px;
  height: 28px;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;

  .switch {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all 0.5s;
    transform: translateY(-50%);

    &.on {
      right: 0;
      background: #07b819;
    }

    &.off {
      right: auto;
      background: #ec1b1b;
    }
  }
}

// Scrollbar custom css
/* width */
.edit-site-content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.edit-site-content::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #e7e7e7;
}

/* Handle */
.edit-site-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #623695;
}
