// css for dashboard/personel cabinet
.dashboard {
  padding-top: 40px;

  &.container {
    @media (max-width: 767px) {
      max-width: 678px;
    }
    @media (max-width: 575px) {
      max-width: 100%;
    }
  }

  .header {
    align-items: center;
    justify-content: space-between;

    @media (max-width: 585px) {
      align-items: unset;
    }

    .purple-button {
      line-height: 54px;
      @media (max-width: 585px) {
        width: 100%;
        margin-top: 20px;
        line-height: 54px;
      }

      @media (max-width: 400px) {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding: 0 20px;
      }
    }

    &.flex-container {
      @media (max-width: 585px) {
        flex-direction: column;
      }
    }
    .section-header-text {
      margin-bottom: 0px !important;
      @media (max-width: 575px) {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .connect-button {
      padding: 0px 20px;
      font-weight: bold;
      font-size: 16px;

      @media (max-width: 768px) {
        height: 54px;
        font-size: 14px;
      }

      img {
        padding-left: 18px;
      }
    }
  }

  .sites-container {
    margin-top: 50px;
    @media (max-width: 585px) {
      margin-top: 0;

      .col-lg-4.col-md-6.col-sm-12 {
        padding: 0;
        .sites {
          border-radius: 0;
        }
      }
    }

    .sites {
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

      .top {
        align-items: center;
        justify-content: space-between;

        .title {
          /* identical to box height, or 100% */
          color: #000000;
          font-weight: bold;
          font-style: normal;
          font-size: 16px;
          font-family: Montserrat;
          line-height: 16px;

          @media (max-width: 400px) {
            font-size: 12px;
          }
        }
      }

      .actions {
        margin-top: 20px;

        .action-pills {
          box-sizing: border-box;
          margin-right: 15px;
          padding: 0 15px;
          border-radius: 10px;
          /* identical to box height, or 193% */
          text-align: center;
          font-weight: bold;
          font-style: normal;
          font-size: 14px;
          font-family: Montserrat;
          line-height: 27px;

          @media (max-width: 400px) {
            font-size: 10px;
          }

          &.active {
            border: 1px solid #623695;
            color: #623695;
          }

          &.not-active {
            border: 1px solid #e7e7e7;
            color: #8c8c8c;
          }
        }
      }
    }
  }
}

// css for create new site

.edit-site-content,
.create-new-site {
  .site-title {
    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 20px;
    }
  }
  .form-label {
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 21px;
    }
    @media (max-width: 768px) {
      width: auto;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  .oculisa-textfield {
    @media (max-width: 768px) {
      height: 54px;
      font-size: 12px;
      line-height: 24px;
      padding: 17px 15px;
    }

    @media (max-width: 575px) {
      height: 60px;
    }
    &:first-child {
      @media (max-width: 575px) {
        height: 45px;
        line-height: 14px;
      }
    }
  }

  .oculisa-textfield-floating-label {
    font-size: 14px;

    @media (max-width: 1200px) {
      font-size: 12px !important;
    }

    @media (max-width: 767px) {
      white-space: normal;
    }

    &:not(.mdc-floating-label--float-above) {
      transform: translateY(-50%);
      top: 50%;
    }
  }

  .step-title {
    margin: 30px 0;

    @media (max-width: 991px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 34px 0 15px;
    }

    &.col-sm-12.col-md-12.col-lg-3 {
      &:first-child {
        @media (max-width: 575px) {
          margin-top: 20px;
        }
      }
    }

    p {
      @media (max-width: 991px) {
        margin-bottom: 0;
      }
    }
  }

  .content {
    margin-top: 40px;

    .section-header-text {
      margin-bottom: 34px !important;
      text-align: center;

      @media (max-width: 991px) {
        text-align: left;
        margin-bottom: 0 !important;
        font-size: 34px;
        line-height: 36px;
      }

      @media (max-width: 575px) {
        font-size: 28px;
        line-height: 36px;
      }
    }

    .row.sections-container {
      &:nth-child(2) {
        .step-title.col-sm-12.col-md-12.col-lg-3 {
          @media (max-width: 575px) {
            margin-top: 0 !important;
          }
        }
      }
    }

    .row.sections-container {
      margin-top: 34px;

      @media (max-width: 991px) {
        margin-top: 0;
      }

      .col-sm-12.col-md-12.col-lg-12,
      .col-sm-12.col-md-12.col-lg-9 {
        @media (max-width: 575px) {
          padding: 0 !important;
          &:first-child {
            box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);
            .section-header-wrapper {
              padding: 20px 15px 0 !important;
            }
            .section-step-form {
              padding: 0 15px 20px !important;
              border-radius: 0;
              box-shadow: none;
            }
          }
        }
      }

      .col-sm-12.col-md-12.col-lg-12,
      .col-sm-12.col-md-12.col-lg-9 {
        @media (max-width: 575px) {
          .section-step-form {
            padding: 15px 20px !important;
            border-radius: 0;
          }
        }
      }

      .section-step-title-block {
        .section-step-title {
          white-space: nowrap;
          margin-bottom: 0;
        }
      }

      .section-step-title {
        color: #000000;
        font-size: 24px;
        line-height: 36px;

        @media (max-width: 991px) {
          font-size: 22px;
        }

        @media (max-width: 575px) {
          font-size: 20px;
        }
      }

      .optional-text {
        color: #8c8c8c;
        font-size: 16px;
      }

      .step-number {
        color: #45c7f1;
        font-size: 42px;
        font-family: Comfortaa;
        line-height: 100%;

        @media (max-width: 991px) {
          font-size: 40px;
        }
      }

      .section-step-form {
        padding: 25px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

        .sign-up-form {
          .form-group {
            &:first-child {
              @media (max-width: 575px) {
                margin-bottom: 0;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }

          .basicSettings-title {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;

            @media (max-width: 991px) {
              font-size: 14px;
              line-height: 17px;
            }
          }

          .form-label {
            position: relative;
            top: 10px;
            margin-bottom: 20px;
            @media (max-width: 768px) {
              font-size: 13px;
            }
            @media (max-width: 575px) {
              font-size: 12px;
            }
          }

          .action-pills-btn-block {
            display: flex;

            @media (max-width: 991px) {
              justify-content: space-between;
            }

            @media (max-width: 768px) {
              width: auto;
            }

            @media (max-width: 575px) {
              flex-direction: column;
              width: 100%;
            }

            .action-pills {
              box-sizing: border-box;
              margin-right: 20px;
              padding: 15px;
              border: 1px solid #ddd8ec;
              border-radius: 10px;
              background: #ffffff;
              /* identical to box height */
              color: #623695;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;

              &:focus {
                outline: none !important;
              }

              &.active {
                background: #623695;
                color: white;
              }

              .icon {
                padding-right: 15px;
              }

              @media (max-width: 768px) {
                width: auto !important;
                height: 54px;
              }

              &:last-child {
                @media (max-width: 991px) {
                  margin-right: 0;
                  width: 57%;
                }
              }

              &:first-child {
                @media (max-width: 991px) {
                  width: 49%;
                }

                @media (max-width: 575px) {
                  margin-bottom: 10px;
                }
              }

              @media (max-width: 991px) {
                font-size: 15px;
              }

              @media (max-width: 575px) {
                width: 100% !important;
                justify-content: flex-start;
                height: 45px;
                font-size: 12px;
                line-height: 15px;
                padding: 8px 15px;
              }
            }
          }

          .language-select-dropdown {
            &.show {
              &:after,
              &:before {
                content: '';
                height: calc(100% - 10px);
                width: 1px;
                background: #623695;
                position: absolute;
                left: 0;
                top: 12px;
                z-index: 10;
              }

              &:before {
                right: 0;
                left: unset;
              }

              .create-new-dropdown {
                border: 1px solid #623695;
                border-bottom-color: transparent;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                color: #000000;
                position: relative;
              }

              .language-dropdown-menu {
                overflow-y: scroll;
                max-height: 200px;
                border: 1px solid #623695;
                border-top-color: transparent;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                transform: translate3d(0px, 52px, 0px) !important;

                .row {
                  margin-right: 0 !important;
                  margin-left: 0 !important;
                }

                .language-item {
                  box-sizing: border-box;
                  padding: 0px 37px;
                  border: 1px solid #ddd8ec;
                  background: #ffffff;
                  position: relative;
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  height: 38px;
                  border-top: none;

                  &:first-child,
                  &:nth-child(2) {
                    border-top: 1px solid #ddd8ec;
                  }

                  &:nth-child(2) {
                    @media (max-width: 575px) {
                      border-top: none;
                    }
                  }

                  &:nth-child(3) {
                    @media (min-width: 992px) {
                      border-top: 1px solid #ddd8ec;
                    }
                  }

                  &:nth-child(3n + 0) {
                    border-right: none;

                    @media (max-width: 991px) {
                      border-right: 1px solid #ddd8ec;
                    }
                  }

                  &:nth-child(2n + 0) {
                    @media (max-width: 991px) {
                      border-right: none;
                    }
                  }

                  &:nth-child(3n + 1),
                  &:first-child {
                    border-left: none;

                    @media (max-width: 991px) {
                      border-left: 1px solid #ddd8ec;
                    }
                  }

                  &:nth-child(2n + 1),
                  &:first-child {
                    @media (max-width: 991px) {
                      border-left: none;
                    }
                  }

                  @media (max-width: 575px) {
                    border: none !important;
                    border-top: 1px solid #ddd8ec !important;
                  }

                  input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked {
                      & ~ .checkmark_lang {
                        &:after {
                          display: block;
                        }
                      }
                    }
                  }

                  .checkmark_lang {
                    &:after {
                      content: '';
                      height: 6px;
                      width: 8px;
                      background-color: transparent;
                      background-image: url('../images/language-checkbox--icon.svg');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: top left;
                      top: 50%;
                      transform: translateY(-50%);
                      left: -1px;
                    }
                  }
                }

                .checkmark_lang {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: -22px;
                  height: 8px;
                  width: 8px;
                  background-color: transparent;
                  border: 1px solid #ddd8ec;

                  &:after {
                    content: '';
                    position: absolute;
                    display: none;
                  }
                }

                .language-name {
                  /* identical to box height */
                  color: #623695;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 17px;
                  position: relative;
                  cursor: pointer;
                  margin-bottom: 0;
                  user-select: none;
                }
              }
            }
          }

          .basicSetting--label {
            @media (max-width: 991px) {
              font-size: 14px;
              line-height: 17px;
            }

            @media (max-width: 767px) {
              font-size: 12px;
              line-height: 18px;
              padding-right: 50px;
              white-space: normal;
            }
          }

          .technical--settings-form-row {
            display: flex;
            justify-content: space-between;

            @media (max-width: 767px) {
              flex-direction: column;
            }

            .technical--settings--item {
              display: flex;
              align-items: center;
              width: 100%;

              @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
              }

              &:first-child {
                max-width: 351px;
                margin-right: 35px;

                @media (max-width: 991px) {
                  max-width: 299px;
                }

                @media (max-width: 767px) {
                  margin-bottom: 20px;
                }
              }

              .technical--settings--title {
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                margin-right: 26px;
                white-space: nowrap;

                @media (max-width: 991px) {
                  font-size: 14px;
                  line-height: 21px;
                }

                @media (max-width: 768px) {
                  font-size: 12px;
                  line-height: 18px;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }

        .create-new-dropdown {
          box-sizing: border-box;
          padding: 15px;
          border: 1px solid #ddd8ec;
          border-radius: 10px;
          background-color: #fff;
          color: #623695;
          text-align: left;
          font-weight: bold;
          font-style: normal;
          font-size: 16px;
          font-family: Montserrat;
          line-height: 20px;

          &::after {
            display: none;
          }

          .chevron-down {
            position: absolute;
            top: 22px;
            right: 22px;
          }
        }

        .language-dropdown-menu {
          margin: 0;
          padding: 0;
          width: 100%;
        }

        .link {
          color: #623695;
          font-size: 16px;
          line-height: 24px;
          text-decoration-line: underline;

          @media (max-width: 991px) {
            font-size: 12px;
            line-height: 15px;
          }

          @media (max-width: 575px) {
            &.clickable {
              font-size: 10px;
            }
            line-height: 12px;
            &:nth-child(2) {
              padding-left: 20px !important;
            }
          }
        }
      }
    }

    .save-btn-container {
      margin-top: 20px;
      margin-bottom: 60px;
      text-align: center;

      &.save-edit {
        margin-bottom: 0 !important;
      }

      .purple-button {
        padding: 17px 50px;
        color: #ffffff;
        /* identical to box height */
        text-align: center;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        font-family: Montserrat;
        @media (max-width: 768px) {
          font-size: 14px;
        }

        @media (max-width: 575px) {
          font-size: 12px;
          width: 90%;
        }
      }
    }
  }
}

// Technical Settings Form

.technical-setting-form-item {
  margin-top: 15px;

  textarea.textarea {
    height: 80px;
    @media (max-width: 575px) {
      height: 75px;
      font-size: 12px;
      line-height: 14px;
      padding: 10px 15px 9px;
    }
  }

  &.custom-forms {
    margin-top: 21px;
  }
}

.code-snippet-container {
  box-sizing: border-box;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ddd8ec;
  border-radius: 10px;
  background: #ffffff;

  pre {
    margin-bottom: 0;

    code {
      color: #000000;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      @media (max-width: 1200px) {
        font-size: 11px;
      }
    }
  }
}

.code-snippet {
  .link {
    color: #623695;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-decoration-line: underline;
  }
}

// edit site modal

.modal-header {
  .section-header-text {
    @media (max-width: 575px) {
      font-size: 20px !important;
      line-height: 20px !important;
      margin-bottom: 10px;
    }
  }
  .close-button-container {
    @media (max-width: 768px) {
      position: absolute;
      right: 20px;
      top: 17.07px;
    }
    @media (max-width: 575px) {
      position: absolute;
      right: 16px;
      top: 17.07px;
    }
  }
}

.create-new-site,
.edit-site-content {
  .content {
    @media (max-width: 575px) {
      margin-top: 20px;
    }
    margin-top: 30px;
  }

  .section-step-form {
    padding: 25px;
    border-radius: 10px;
    // box-shadow: none !important;
  }

  .sections-container {
    margin-top: 0 !important;
  }
}

// Russian language css
:lang(ru) {
  .dashboard {
    .header {
      .section-header-text {
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      .purple-button {
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .sites-container {
      .sites {
        .actions {
          .action-pills:first-child {
            margin: 0 12px 1px 0;
          }
          .action-pills {
            font-size: 14px;
            padding: 2px 10px;
          }
          @media (max-width: 1200px) {
            .action-pills:first-child {
              margin: 1px 8px 0 0;
            }
            .action-pills {
              font-size: 10px;
              padding: 0 8px;
            }
          }
        }
      }
    }
  }
  .edit-site-content,
  .create-new-site {
    .content {
      .sections-container {
        .section-step-form {
          .form-group {
            .action-pills-btn-block {
              .action-pills {
                font-size: 12px;
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}
