@font-face {
    font-family: 'CustomIcons';
    src: url('../fonts/icomoon.ttf');
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../fonts/Comfortaa/Comfortaa-Light.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('../fonts/Comfortaa/Comfortaa-SemiBold.ttf');
}
