.footer-hr {
  margin: 0;
  border-top: 2px solid #f5f5f5;
}

.logged-navbar-brand {
  .dropdown {
    height: 22px;
    border-radius: 3px !important;
  }

  .dropdown-menu.show {
    top: 15px !important;
    margin-top: 5px !important;
    padding: 2px 0px !important;
    border-radius: 3px !important;
    a {
      text-align: start !important;
    }
  }

  .language-icon {
    position: absolute;
    left: -15px;
    z-index: 11;
  }
}

.oculisa-footer {
  align-items: center;
  padding: 10px 0;

  @media (max-width: 991px) {
    text-align: left;

    .footer-logo {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;
      width: 100%;

      .copyright-text {
        margin-top: 0;
        @media (max-width: 767px) {
          max-width: 90px;
          font-size: 10px;
          line-height: 15px;
          text-align: left;
          margin-left: 0;
        }
      }
    }

    .footer-logo > a {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .footer-links {
      margin-top: 20px;
    }
  }

  @media (max-width: 991px) {
    padding: 20px 0 27px;
  }

  @media (max-width: 768px) {
    padding: 26px 45px 27px;
  }

  @media (max-width: 767px) {
    padding: 10px 0;
    .footer-links {
      flex-direction: column;

      ul {
        margin: 0;
      }
    }
  }
}

.oculisa-footer.flex-container.login-footer > div:last-child {
  @media (max-width: 991px) {
    display: none;
  }

  &.language-selector {
    display: block;
  }
}

div.login-footer {
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;

  .footer-logo {
    align-items: center;
    justify-content: space-between;

    .login-copyright-text {
      margin-top: 10px;
      padding-left: 30px;

      @media (max-width: 991px) {
        margin-right: auto;
      }

      @media (max-width: 767px) {
        margin: 0;
        padding: 0;
      }

      p {
        margin-top: 10px;
        font-size: 12px;
      }
    }
  }

  .language-selector {
    position: relative;
    padding-left: 30px;

    &.ml-55 {
      margin-left: 55px;
    }

    .dropdown {
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);

      .dropdown-toggle::after {
        margin-left: 1em;
      }

      .nav-link {
        color: #623695;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
      }

      .dropdown-item {
        /* identical to box height */
        color: #623695;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;

        &.selected {
          color: #000000;
        }
      }
    }

    .global-icon {
      position: absolute;
      top: 4px;
      left: 14px;
      z-index: 1;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .footer-logo {
      .language-selector {
        margin: 10px 0 20px;
      }
    }
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;

  @media (max-width: 991px) {
    ul {
      min-width: 160px;
    }
  }

  li > a,
  li > button,
  .link {
    color: #623695;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 0;

    &:active {
      background-color: transparent !important;
      color: #623695 !important;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-credit-cards {
  margin-top: 20px;
  text-align: center;

  img {
    margin-bottom: 20px;
  }
}

.copyright-text {
  margin-top: 10px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: 991px) {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-left: 30px;
  }
}

.logged-in-footer-links {
  margin-right: 40px;
  /* identical to box height */
  color: #623695;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  &.last {
    margin-right: 0;
  }
}

.list-unstyled {
  margin-bottom: 0;
}

footer.login-footer {
  .login-footer {
    flex-direction: row;
  }
}

// Russian language css
:lang(ru) {
  .oculisa-footer:not(.login-footer) {
    justify-content: space-between;
    .footer-logo {
      max-width: 23%;
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
    .footer-links {
      flex: 0 0 43%;
      max-width: 43%;
      padding: 0;
      .list-unstyled {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          flex: 1;
          .link,
          a {
            text-align: left;
            font-size: 12px;
          }
        }
      }
    }
  }
  .logged-in-footer-links {
    @media (max-width: 1200px) {
      margin-right: 24px;
      font-size: 10px;
      &.last {
        margin-right: 0;
      }
    }
  }
}
