.get-started-page {
  padding: 180px 0;
  text-align: center;
  min-height: 80vh;

  .get-started-content {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    padding: 0 15px;

    .heading-desc {
      margin-top: 20px;
      @media (max-width: 575px) {
        margin-top: 10px;
      }
    }

    .sign-up-form {
      margin-top: 30px;
    }

    .conditions {
      margin: 10px 0;
      padding-right: 5px;
      padding-left: 5px;
      color: #000000;
      text-align: left;
      font-size: 11px;

      @media (max-width: 767px) {
        display: none;
      }

      button {
        background-color: transparent;
        border: none;
        color: #623695;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bottom-buttons {
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      .sign-up-btn {
        justify-content: initial;
        text-align: left;
        text-decoration: none;

        @media (max-width: 767px) {
          display: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        border-radius: 10px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 23px 0 113px;
  }
}
