.menu-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -4.6rem;
  list-style: none;
}

.header-container {
  padding: 30px 15px !important;

  &.container {
    @media (max-width: 768px) {
      // max-width: 678px;
      padding: 18px 15px !important;
    }
  }

  .navbar-brand {
    margin-right: 98px !important;

    @media (max-width: 1200px) {
      margin-right: 30px !important;
    }
  }

  .navbar-brand-logo {
    margin-right: 30px;
  }

  #basic-navbar-nav {
    justify-content: space-between;

    > div {
      align-items: center;
    }
  }
}

.navbar-nav {
  align-items: center;

  .nav-link {
    margin-right: 18px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    color: #ffffff !important;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    @media (max-width: 1200px) {
      margin-right: 0;
      font-size: 14px;
    }

    &.active {
      // border-radius: 10px;
      // background: #ffffff;
      // box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
      // color: #623695 !important;
    }

    &:hover {
      text-decoration: underline;
    }

    &.last {
      margin-right: 0;
    }
  }

  .get-started {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
    color: #623695 !important;

    @media (min-width: 992px) {
      display: block;
    }
  }
}

.language-selector-dropdown.show {
  .chevron-down {
    transform: rotate(180deg);
  }
}

.language-selector-dropdown {
  z-index: 2;

  .nav-link {
    margin-bottom: 0 !important;
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: 40px 40px 40px 40px;

    .dropdown-item {
      color: #62309a;
      text-align: start;
      font-weight: 400;

      &.active {
        background-color: transparent;
      }
    }
  }

  @media (max-width: 767px) {
    display: none !important;
  }

  .navbar-collapse & {
    display: none;
  }

  .menu-open & {
    display: block !important;
  }
}

.get-started.tablet {
  margin-left: 181px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
  color: #623695 !important;
  font-weight: 700;
  font-size: 14px;

  @media (min-width: 992px) {
    display: none;
  }

  @media (max-width: 991px) {
    display: block;
  }

  @media (max-width: 768px) {
    margin-left: 140px;
  }

  @media (max-width: 767px) {
    display: none !important;
  }
}

.logged-in-navbar {
  background-color: #623695;

  .open-menu .navbar-nav > span:first-child {
    margin-bottom: 50px;

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }

  .nav-link.active {
    // background-color: transparent !important;
    color: #fff !important;
    text-decoration: underline;
  }

  .last {
    color: white;
    font-weight: bold;
  }
}

.navlink-logo {
  margin-right: 10px;
}

.notification-pill {
  margin-left: 5px;
  padding: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ec1b1b;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;

  .active & {
    text-decoration: none;
  }
}

.navbar {
  @media (max-width: 575px) {
    padding: 0.5rem 15px;
  }

  .violet-color {
    .nav-link {
      // color: #623695 !important;
    }

    .get-started.nav-link {
      background: #623695;
      color: #fff !important;
    }
  }

  .navbar-brand .dropdown {
    position: relative;
    display: -webkit-inline-box;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);

    .dropdown-item {
      font-weight: 700;
    }

    .dropdown-menu.show {
      position: absolute;
      top: 24px;
      z-index: 1;
      padding: 11px 0 11px;
      min-width: unset;
      width: 100%;
      border: unset;
      border-radius: unset;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 0px 20px 25px -11px rgba(88, 63, 164, 0.25);

      .dropdown-item {
        padding: 0 10px;
        font-size: 14px;
        line-height: 17px;
        transition: 0.5s;

        &:hover {
          background: transparent;
          color: #623695;
        }
      }
    }

    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 10px;
      color: #623695;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      width: 102px;

      &::after {
        display: none;
      }
    }
  }
}

.navbar-toggler {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  &.opened-toggler {
    .navbar-toggler-icon {
      display: none;
    }
  }

  .toggle-line {
    margin-bottom: 4px;
    width: 16px;
    height: 2px;
    background: #623695;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.navbar-collapse {
  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    visibility: hidden;
    overflow: unset;
    align-items: unset;
    flex-basis: unset;
    flex-grow: unset;
    padding: 222px 56px 0;
    height: unset !important;
    background: #62309a;
    opacity: 0;
    transition: 0.5s;

    .navbar-nav {
      align-items: flex-end !important;
    }
  }

  @media (max-width: 767px) {
    padding: 176px 15px 0;
  }
}

.navbar-collapse.collapsing {
  overflow: unset;
  align-items: unset;
  flex-basis: unset;
  flex-grow: unset;
  height: unset !important;
}

.noCollapse {
  display: none;
}

.navbar-collapse.open-menu {
  visibility: visible;
  overflow: auto;
  align-items: unset;
  flex-basis: unset;
  flex-grow: unset;
  opacity: 1;
  transition: 0.5s;

  .navbar-nav:not(.right-links) {
    .nav-link {
      margin-bottom: 50px;
      padding: 12px 50px !important;
      border-radius: 40px 0px 40px 40px;
      background: #fff;
      color: #62309a !important;
      text-decoration: none;
      line-height: 55px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 991px) {
        font-weight: 400;
        font-size: 42px;
        font-family: Comfortaa;
      }

      @media (max-width: 767px) {
        margin-bottom: 32px;
        padding: 10px 20px 10px 30px;
        font-size: 28px;
        line-height: 34px;
      }

      @media (max-width: 575px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .right-links {
    margin-top: 206px;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 66px;
    }

    .nav-link {
      color: #fff !important;
    }
  }
}

.collapse:not(.show) {
  display: block;
}

.navbar-toggler.opened-toggler {
  // position: fixed;
  // top: 30px;
  // right: 55.55px;
  z-index: 10;
  // width: 50px;
  // background: transparent;
  // background-image: url('../images/toggle-close.svg');
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: 0.5s;

  // &::after {
  //   display: block;
  //   margin: auto;
  //   width: 39.5px;
  //   height: 39.5px;
  //   border-radius: 50%;
  //   background-color: white;

  //   content: '';
  // }

  .toggle-line {
    display: none;
  }

  // @media (max-width: 767px) {
  //   right: 15px;
  // }
}

.overflowHidden {
  overflow: hidden;
}

.banner-section-left {
  @media (max-width: 991px) {
    .product-tour--btn {
      min-width: unset !important;
      width: 100%;
    }

    .product-tour-text {
      margin-bottom: 10px;
      font-size: 10px;
      line-height: 24px;
    }
  }
}

// Russian language css
:lang(ru) {
  .header-container {
    .navbar-nav {
      .nav-link {
        font-size: 15px;

        @media (max-width: 1200px) {
          font-size: 13px;
        }
      }
    }
  }
}
