body {
  overflow-x: hidden;
}

.banner-section {
  position: relative;

  &.banner-1 {
    margin-top: 115px;

    @media (max-width: 991px) {
      margin-top: 18px;
    }

    .row {
      @media (max-width: 991px) {
        margin: 0;
        padding: 0 45px;
      }

      @media (max-width: 575px) {
        padding: 0 15px;
      }
    }

    .row > div:nth-child(2) {
      @media (max-width: 575px) {
        padding: 0;
      }
    }

    .banner-1-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 991px) {
        padding: 0;
      }
    }

    .banner-1-left > div:nth-child(4) {
      @media (max-width: 575px) {
        margin-top: 7px !important;
      }
    }
  }

  .main-page-text {
    @media (max-width: 767px) {
      order: 1;
      text-align: center;
    }

    @media (max-width: 575px) {
      text-align: left;
    }
  }

  .banner-section-left {
    margin-top: 148px;

    @media (max-width: 991px) {
      margin-top: 38px;
    }

    img {
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  .btn.product-tour--btn {
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 23px;
      min-width: unset !important;
      width: 100%;
      margin-top: 0;
      margin-bottom: 14px;
    }

    @media (max-width: 575px) {
      max-width: unset;
    }
  }

  .focus-text {
    margin-bottom: 22px;
    color: #000000;
    font-weight: normal;
    font-size: 42px;
    font-family: Comfortaa;
    line-height: 130%;

    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 47px;
      margin-bottom: 11px;
    }

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
    }
  }

  .boost-text {
    margin-bottom: 25px;
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 13px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 15px;
    }
  }

  .purple-button-big {
    min-width: 300px;
    max-width: 370px;
    height: 54px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;

    @media (max-width: 1200px) {
      max-width: 320px;
    }

    @media (max-width: 767px) {
      max-width: unset;
    }
  }

  .connect-text__block {
    margin-top: 20px;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  .connect-text {
    margin-bottom: 0;
    color: #8c8c8c;
    font-size: 14px;
    line-height: 21px;

    @media (max-width: 991px) {
      font-size: 12px;
      line-height: 18px;
    }

    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .valuable-leads--btn {
    @media (max-width: 991px) {
      max-width: 240px;
      min-width: unset !important;
      font-size: 14px;
      line-height: 17px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
      max-width: unset;
      width: 100%;
      margin: 0 auto;
    }

    @media (max-width: 575px) {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    text-align: center;

    a {
      margin: 10px auto;
    }

    img {
      margin: 10px auto;
    }
  }
}

.homepage-section {
  margin-top: 150px;
  @media (max-width: 991px) {
    margin-top: 120px;
  }

  &.how-it-works-section {
    @media (max-width: 575px) {
      margin-top: 50px;
    }
  }
}

.banner-section-left {
  @media (max-width: 767px) {
    text-align: center;
  }

  @media (max-width: 575px) {
    text-align: left;
  }

  img {
    @media (max-width: 767px) {
      margin: 0 auto 30px !important;
    }
  }
}

.how-it-works--block {
  margin: 0;

  @media (max-width: 991px) {
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.explore-section {
  margin-top: 60px;
  padding: 50px 85px 40px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

  @media (max-width: 991px) {
    padding: 40px 45px 30px;
    margin-top: 90px;
  }

  @media (max-width: 991px) {
    margin-right: -15px;
    margin-left: -15px;
    padding: 40px 45px 30px;
  }

  .explore-container {
    justify-content: space-between;

    .explore-contents {
      display: flex;
      flex-direction: column;
      margin: 20px 0 0;
      padding: 0px 12px;
      max-width: 270px;
      text-align: center;

      @media (max-width: 768px) {
        padding: 0;
      }

      img {
        align-self: center;
      }

      @media (max-width: 767px) {
        max-width: unset;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;
        width: 100%;

        &:last-child {
          margin-bottom: 21px;
        }
      }
    }
  }

  .explore-heading {
    display: block;
    margin-top: 38px;
    min-height: 56px;
    color: #000000;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    font-family: Comfortaa;

    @media (max-width: 1200px) {
      font-size: 22px;
      line-height: 26px;
      min-height: 52px;
      margin-bottom: 0;
    }

    @media (max-width: 991px) {
      min-height: 80px;
    }

    @media (max-width: 767px) {
      text-align: center;
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }

    @media (max-width: 575px) {
      text-align: left;
    }
  }

  .explore-item-details {
    margin-top: 20px;
    color: #373737;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;

    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 21px;
    }

    @media (max-width: 991px) {
      margin-top: 0;
    }

    @media (max-width: 767px) {
      text-align: center;
      margin: 0;
      font-size: 12px;
      line-height: 18px;
    }

    @media (max-width: 575px) {
      text-align: left;
    }
  }

  .explore-button {
    display: block;
    margin: 10px auto 0;
    margin-top: 35px;
    min-width: 261px;
    max-width: 280px;
    border-radius: 10px;

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 14px;
    }

    @media (max-width: 767px) {
      max-width: unset !important;
      margin-top: 0;
      margin: 0 15px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px 0;
    margin: 50px -15px;

    .explore-container {
      align-items: center;
      flex-direction: column;

      padding: 0 15px;

      .explore-heading {
        min-height: unset;
      }
    }
  }
}

.how-it-works-section {
  text-align: center;
  .how-it-works-cols {
    position: relative;
    padding-bottom: 20px;
    text-align: left;

    .right-arrow-div {
      position: absolute;
      top: 95px;
      right: 10px;

      img {
        width: 70px;
      }
    }

    .curled-arrow-div {
      position: absolute;
      top: 115px;
      right: -10px;

      img {
        height: 210px;
      }
    }

    @media (max-width: 767px) {
      margin: 20px auto;
      padding-left: 0;
      padding-right: 0;

      .right-arrow-div,
      .curled-arrow-div {
        display: none;
      }

      &:nth-child(4) {
        order: 4;
      }

      .logo-container {
        text-align: center;

        .inside-icon {
          left: calc(50% - 20px);
        }
      }

      p {
        text-align: center;

        @media (max-width: 767px) {
          text-align: left;
          margin-bottom: 10px;
        }

        &:last-child {
          @media (max-width: 767px) {
            margin-bottom: 0px;
          }
        }
      }

      display: flex;

      .how-it-works-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 16px;
      }
    }
  }

  .logo-container {
    position: relative;
    margin-bottom: 20px;

    .inside-icon {
      position: absolute;
      top: 11px;
      left: 19px;
    }
  }

  .how-it-works-img__block {
    position: relative;

    @media (max-width: 767px) {
      &::after {
        content: '';
        width: 22px;
        height: 18px;
        background-image: url('../images/down-arrow.svg');
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 103px;
      }
    }

    // &:last-child {
    //   &::after {
    //     display: none;
    //   }
    // }
  }

  .header {
    color: #000000;
    /* identical to box height, or 55px */
    text-align: center;
    font-weight: normal;
    font-size: 42px;
    font-family: Comfortaa;
    line-height: 130%;

    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 47px;
    }
  }

  .heading {
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  .details {
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .grid-container {
    display: grid;
    background-color: transparent;
    // grid-template-columns: auto auto auto;
    // grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;

    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    .grid-item {
      text-align: left;
    }

    .item-1 {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.leads-form-section {
  margin-bottom: 150px;

  @media (max-width: 991px) {
    padding: 0 45px;
  }

  @media (max-width: 575px) {
    padding: 0;
  }

  .row > div:first-child {
    @media (max-width: 991px) {
      padding: 0;
    }
  }

  .header {
    margin-left: -3px;
    color: #000000;
    font-weight: normal;
    font-size: 42px;
    font-family: Comfortaa;
    line-height: 55px;

    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 130%;
    }

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .image-wrapper {
    display: flex;
    margin-left: -30px;

    @media (max-width: 991px) {
      margin-left: -15px;
    }

    .leads-logo {
      margin: auto;
      max-width: 100%;
    }
  }

  .sub-header {
    margin-top: 12px;
    // margin-left: 5px;
    margin-bottom: 20px !important;
    /* identical to box height */
    color: #454545;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  .leads-form-box {
    margin: 90px auto;
    padding: 50px 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

    @media (max-width: 767px) {
      background: transparent;
      box-shadow: none;
      text-align: left;
      padding: 30px !important;
    }
  }

  .form-container {
    justify-content: space-between;

    .oculisa-textfield {
      width: 60%;
      height: 54px;
      border-radius: 10px;
    }
  }

  .get-leads-btn {
    margin-left: 20px;
    min-width: 270px;
    height: 54px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  .help-btn {
    color: #623695;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  @media (max-width: 1200px) {
    .get-leads-btn {
      min-width: 200px;
      padding: 17px 0;
    }
  }

  @media (max-width: 991x) {
    text-align: center;
    margin-bottom: 100px;

    .form-container {
      display: flex;
      flex-direction: column;

      div {
        width: 100% !important;
      }

      .get-leads-btn {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }

  @media (max-width: 767px) {
    text-align: center;
    margin-top: 30px !important;
    margin-bottom: 50px !important;

    .image-wrapper {
      margin-left: -15px;
    }

    .row {
      flex-direction: column-reverse;
    }
  }
}

.main__page {
  @media (max-width: 767px) {
    margin-top: 0 !important;
  }
}

.how-it-works-cols.offset-md-4 {
  .how-it-works-img__block {
    &::after {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

// Russian language css
:lang(ru) {
  .banner-section {
    .banner-1-left,
    .banner-section-left {
      .focus-text {
        @media (max-width: 1200px) {
          font-size: 36px;
        }
        @media (max-width: 991px) {
          font-size: 32px;
          line-height: 38px;
        }
        @media (max-width: 768px) {
          font-size: 28px;
          margin-bottom: 10px;
        }

        @media (max-width: 575px) {
          font-size: 25px;
          line-height: 32px;
        }
      }
      .boost-text {
        @media (max-width: 1200px) {
          font-size: 16px;
        }
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 24px;
        }
        @media (max-width: 575px) {
          font-size: 13px;
          line-height: 22px;
        }
      }
      .purple-button {
        @media (max-width: 1200px) {
          font-size: 13px;
        }
      }
    }
    .people {
      .person-1 {
        span {
          left: -15px;
        }
      }
    }
    .btn.product-tour--btn {
      @media (max-width: 575px) {
        font-size: 14px;
        padding: 15px 20px;
      }
    }
  }
  .explore-section {
    @media (max-width: 1200px) {
      padding: 50px 60px 37px;
    }
    @media (max-width: 991px) {
      padding: 50px 30px 37px;
    }
    @media (max-width: 767px) {
      padding: 20px 0;
    }
    .explore-button {
      max-width: 340px;
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
    .explore-heading {
      font-size: 21px;
      line-height: 24px;
      @media (max-width: 1200px) {
        font-size: 19px;
      }
      @media (max-width: 991px) {
        font-size: 16px;
        line-height: 20px;
      }
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
    .explore-item-details {
      @media (max-width: 991px) {
        font-size: 13px;
        line-height: 19px;
        margin-top: 10px;
      }
    }
  }
  .how-it-works-section {
    .header {
      @media (max-width: 575px) {
        font-size: 26px;
      }
    }

    .how-it-works-text {
      .heading {
        @media (max-width: 575px) {
          font-size: 16px;
        }
      }
      .details {
        @media (max-width: 575px) {
          font-size: 12px;
        }
      }
    }
    .right-arrow-div {
      @media (max-width: 991px) {
        right: -8px;

        img {
          width: 51px;
        }
      }
    }
    .curled-arrow-div {
      top: 125px;
      @media (max-width: 991px) {
        right: -35px;
      }
      img {
        height: 260px;
      }
    }
  }
  .leads-form-section {
    .header {
      font-size: 36px;
      line-height: 46px;
      @media (max-width: 991px) {
        font-size: 33px;
      }
      @media (max-width: 575px) {
        font-size: 29px;
        line-height: 37px;
      }
    }
    .purple-button {
      font-size: 14px;
      padding: 15px 20px;
      @media (max-width: 1200px) {
        padding: 15px 10px;
        font-size: 11px;
      }
      &.get-leads-btn {
        @media (max-width: 575px) {
          font-size: 13px;
        }
      }
    }
  }
}
