// check mark icon
.icon-Vectortick-mark:before {
    content: "\e902";
    color: #07b819;
    font-family: CustomIcons;
  }

//   pencil icon
  .icon-pencil:before {
    content: "\e901";
    color: #623695;
    font-family: CustomIcons;
  }