@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~@material/react-text-field/dist/text-field.css';

@import 'fonts.scss';
@import 'common.scss';
@import 'media-queries.scss';
@import 'modals.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'homepage.scss';
@import 'product.scss';
@import 'pricing.scss';
@import 'login.scss';
@import 'get-started.scss';
@import 'dashboard.scss';
@import 'leads-dashboard.scss';
@import 'settings.scss';
@import 'payments.scss';
@import 'lead-profile.scss';

@font-face {
  font-family: 'CustomIcons';
  src: url('../fonts/icomoon.ttf');
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  @media (max-width: 900px) {
    max-width: 678px;
  }

  @media (max-width: 768px) {
    max-width: 575px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #623695;
  border-radius: 10px;
}
