.lead-profile {
  margin-top: 30px;
  margin-bottom: 80px;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  &.container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .inside {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 110px;

    .profile-details {
      padding: 20px 25px 25px 25px;
      width: 540px;
      border-radius: 10px;
      box-shadow: 0 10px 70px rgba(72, 199, 240, 0.2);

      @media (max-width: 768px) {
        padding: 15px 0;
        box-shadow: none;
      }

      .form-group {
        textarea.textarea {
          @media (max-width: 900px) {
            font-size: 12px;
          }
        }
      }

      .lead-number-title {
        color: #000;
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;

        @media (max-width: 768px) {
          margin-top: -83px;
          margin-bottom: 63px;
          font-size: 20px;
        }
      }

      .top {
        justify-content: space-between;
        margin-top: 35px;

        @media (max-width: 768px) {
          display: grid;
          margin-bottom: 25px;
          grid-template-columns: 1fr 6fr;
          grid-template-rows: 0.3fr 1fr;
          grid-template-areas: 'img date' 'img data';
        }

        .avatar-l {
          @media (max-width: 768px) {
            grid-area: img;
          }

          .leads-avatar {
            border-radius: 50%;
            height: 50px;

            @media (max-width: 768px) {
              height: 50.58px;
            }
          }
        }

        .details-1 {
          flex-grow: 1;
          margin-left: 30px;
          font-size: 14px;
          line-height: 14px;

          @media (max-width: 900px) {
            font-size: 12px;
          }

          @media (max-width: 768px) {
            margin-top: 5px;
            margin-left: 15px;
            font-size: 10px;
            line-height: 14px;
            grid-area: data;
          }

          .unverified,
          .verified {
            display: inline-block;
            height: 16px;
            width: 16px;
            border-radius: 25px;
          }

          .unverified {
            background: url(../../assets/images/cross.svg) no-repeat center;
            background-color: #ec1b1b;
          }

          .verified {
            background: url(../../assets/images/check.svg) no-repeat center;
            background-color: #07b819;
          }

          .label {
            color: #8c8c8c;
          }

          .text {
            color: black;
          }

          .label,
          .text {
            @media (max-width: 768px) {
              margin-bottom: 5px;
            }
          }
        }

        .details-2 {
          text-align: right;
          font-size: 14px;
          line-height: 21px;

          @media (max-width: 900px) {
            font-size: 12px;
          }

          @media (max-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-left: 15px;
            font-size: 10px;
            line-height: 15px;
            grid-area: date;
            // position: absolute;
            // left: 100px;
            // display: flex;
            // width: 100%;
            // justify-content: space-between;
          }

          p.text,
          p.date {
            @media (max-width: 768px) {
              margin-bottom: 0;
            }
          }
        }
      }

      .comments {
        align-items: center;
        justify-content: space-between;
        margin: 25px 0;

        .status-heading {
          color: #000;
          font-size: 14px;

          @media (max-width: 900px) {
            display: none;
          }
        }

        .status-steps {
          display: flex;
          align-items: center;
          width: 85%;

          @media (max-width: 900px) {
            width: 100%;
          }

          @media (max-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            .connector {
              display: none;
            }

            .status-select-dropdown:nth-child(3) {
              width: 100%;
            }

            .step {
              margin-bottom: 10px;
              min-width: auto;
              width: 48%;
            }
          }

          .status-select-dropdown {
            .status-dropdown-btn {
              font-size: 12px;
              line-height: 12px;

              @media (max-width: 900px) {
                font-size: 12px;
                line-height: 12px;
              }
            }

            textarea.textarea {
              @media (max-width: 768px) {
                padding: 10px 15px 9px;
                height: 75px;
                font-size: 10px;
                line-height: 10px;
              }
            }

            .status-dropdown-btn {
              @media (max-width: 768px) {
                font-size: 10px;
                line-height: 10px;
              }
            }
          }

          .step {
            padding: 12px 25px 12px 15px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 10px 25px rgba(88, 63, 164, 0.25);
            font-weight: bold;
            font-style: normal;
            font-size: 12px;
            font-family: Montserrat;
            line-height: 12px;

            @media (max-width: 768px) {
              padding: 10px 25px 10px 15px !important;
              font-size: 10px !important;
              line-height: 10px !important;
            }

            .number {
              padding-right: 7px;
              color: #45c7f1;
            }

            &.done {
              background: #623695;
              color: #fff;

              .number {
                color: #fff;
              }
            }

            &.last {
              flex-grow: 1;
              padding: 12px 12px 12px 15px;
            }
          }

          .connector {
            top: 226px;
            left: 871px;
            width: 30px;
            height: 2px;
            background: #45c7f1;

            &.done {
              background: #623695;
            }
          }
        }
      }

      .external-data {
        .heading {
          margin-top: 30px;
          color: #000;
          text-align: center;
          font-size: 24px;
          font-family: Montserrat;
          line-height: 14px;

          @media (max-width: 900px) {
            font-size: 22px;
            line-height: 22px;
          }

          @media (max-width: 768px) {
            margin-top: 30px;
            margin-bottom: 0;
            text-align: left;
          }
        }

        .data {
          margin-top: 25px;

          @media (max-width: 768px) {
            margin-top: 15px;
          }

          .two-row {
            @media (max-width: 900px) {
              padding-bottom: 20px;
            }

            @media (max-width: 768px) {
              flex-direction: column;
              padding-bottom: 15px;
            }

            &.highlighted {
              padding: 15px 0;
              border-radius: 10px;
              background: #623695;
              box-shadow: 0 10px 70px rgba(72, 199, 240, 0.2);

              @media (max-width: 900px) {
                padding: 9px 0;
              }

              @media (max-width: 900px) {
                margin: 0 -15px;
                padding: 15px 0;
                border-radius: 0;
              }

              .label {
                padding-left: 25px;
                font-weight: bold;
              }

              .label,
              .text {
                color: #fff;

                @media (max-width: 900px) {
                  margin-bottom: 0;
                }

                @media (max-width: 768px) {
                  padding-left: 15px;
                }
              }

              .text {
                @media (max-width: 768px) {
                  margin-top: 5px;
                }
              }
            }

            .label {
              padding-right: 40px;
              width: 35%;

              /* or 150% */
              color: #8c8c8c;
              font-weight: normal;
              font-style: normal;
              font-size: 14px;
              font-family: Montserrat;
              line-height: 21px;
            }

            .text {
              width: 64%;

              /* or 150% */
              color: #000;
              word-break: break-word;
              font-weight: normal;
              font-style: normal;
              font-size: 14px;
              font-family: Montserrat;
              line-height: 21px;
            }

            .label,
            .text {
              @media (max-width: 900px) {
                font-size: 12px;
                line-height: 18px;
              }

              @media (max-width: 768px) {
                margin-bottom: 0;
                width: 100%;
                font-size: 10px;
                line-height: 15px;
              }
            }
          }
        }
      }
    }

    .comment-form-container {
      textarea {
        min-height: 150px;

        @media (max-width: 768px) {
          padding: 10px 12.5px;
          min-height: 50px;
          font-size: 10px;
          line-height: 10px;
        }
      }
    }

    @media (max-width: 768px) {
      display: grid;
      padding: 0 15px;
      grid-template-columns: 1fr 1fr;

      .profile-details {
        width: auto;
        grid-column: span 2;

        // .top {
        // align-items: center;
        // flex-direction: column;
        //   flex-wrap: wrap;
        //   justify-content: center;

        //   .avatar-l {
        //     width: 100% !important;
        //     text-align: center;
        //   }

        //   .details-1,
        //   .details-2 {
        //     margin-top: 30px;
        //     width: 45% !important;

        //     .two-row {
        //       justify-content: space-between;

        //       .label {
        //         text-align: left;
        //       }
        //     }
        //   }

        //   .details-2 {
        //     margin-left: 30px;
        //   }
        // }
      }

      .comments {
        flex-direction: column;
        margin-top: 0 !important;
        margin-bottom: 30px !important;

        .status-heading {
          margin-bottom: 20px;
        }
      }

      .btn.del {
        grid-row: 1;
        grid-column: 2;
      }
    }

    // @media (max-width: 480px) {
    //   .profile-details {
    //     div.top {
    //       align-items: center;
    //       flex-direction: column !important;

    //       .details-1,
    //       .details-2 {
    //         width: 90% !important;

    //         .two-row {
    //           padding: 0;
    //         }
    //       }

    //       .details-2 {
    //         margin-left: 0;
    //         text-align: center;
    //       }
    //     }
    //   }
    // }
  }

  .purple-button {
    margin-top: 80px;
    padding: 0;
    min-width: 100px;
    height: 50px;
    border-radius: 0;

    img {
      width: 9.12px;
      height: 16px;
    }

    span {
      padding-left: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;

      @media (max-width: 900px) {
        font-size: 12px;
      }

      @media (max-width: 768px) {
        font-size: 10px;
        line-height: 10px;
      }
    }

    &.back {
      border-radius: 10px 0 0 10px !important;

      @media (max-width: 768px) {
        margin: 60px 5px 0 0;
        border-radius: 10px !important;
      }
    }

    &.del {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 10px 10px 0 !important;

      @media (max-width: 768px) {
        margin: 60px 0 0 5px;
        border-radius: 10px !important;
      }
    }

    &.back,
    &.del {
      @media (max-width: 768px) {
        height: 30px;
        border-radius: 10px !important;
      }
    }
  }
}

.status-steps {
  @media (max-width: 480px) {
    flex-direction: column;

    .connector {
      margin: 15px 0;
      transform: rotate(90deg);
    }

    .step,
    .dropdown {
      min-width: 150px;
    }
  }
}
