.leads-dashboard {
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px;
  padding-top: 40px;

  @media (max-width: 991px) {
    margin-bottom: 70px;
  }

  @media (max-width: 575px) {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &.container {
    @media (max-width: 991px) {
      max-width: 678px !important;
    }

    @media (max-width: 575px) {
      padding: 0px;
    }
  }

  .site-action-container {
    position: absolute;
    right: 20px;

    @media (max-width: 575px) {
      position: relative;
    }

    .site-title {
      font-weight: bold;
      font-style: normal;
      font-size: 24px;
      font-family: Montserrat;
      line-height: 36px;

      /* identical to box height, or 150% */
      @media (max-width: 991px) {
        font-size: 22px;
      }

      @media (max-width: 575px) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 35px;
        font-size: 14px;
        line-height: 21px;

        a {
          width: 80%;
        }
      }

      .icon-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        background: #ffffff;
        box-shadow: 0px 10px 25px rgba(98, 54, 149, 0.25);

        @media (max-width: 575px) {
          position: absolute;
          top: 3px;
          right: -5px;
          font-size: 14px;
          line-height: 21px;
        }

        .icon-reload-icon:before {
          color: #623695;
          content: '\e903';
          font-size: 15px;
          font-family: CustomIcons;
        }
      }
    }
  }

  .leads {
    margin-top: 30px;

    @media (max-width: 575px) {
      margin-top: 20px;
    }

    .status {
      font-size: 24px;

      @media (max-width: 991px) {
        font-size: 22px;
      }

      @media (max-width: 575px) {
        margin: 0 0 10px 15px !important;
        font-size: 18px;
      }
    }

    .leads-item-container {
      margin-top: 20px;
      padding: 15px 9px 25px 15px;
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

      @media (max-width: 991px) {
        padding: 15px 15px 25px !important;
      }

      @media (max-width: 575px) {
        border-radius: 0px;
      }

      .user-details {
        display: flex;
        flex-direction: row;

        @media (max-width: 991px) {
          padding: 0 !important;
          width: 91% !important;

          .details-r {
            display: flex !important;
            flex-direction: column !important;

            .details-rt {
              order: 2;
              margin-top: -34px;
              margin-left: -60px;
              font-size: 12px !important;
            }

            .details-rb {
              order: 1;

              :first-child {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                .two-row {
                  display: flex;
                  width: 50%;

                  p {
                    font-size: 12px !important;

                    &.label {
                      display: flex;
                      justify-content: start;
                      width: 25%;
                    }

                    &.text {
                      width: 75%;
                    }
                  }
                }
              }
            }
          }
        }

        @media (max-width: 575px) {
          position: relative;
          width: 100% !important;

          .details-r {
            flex-direction: row !important;

            .details-rt {
              order: 2;
              margin-top: 0;
              margin-left: 0;
              width: 20%;
              font-size: 8px !important;

              .text:nth-child(2) {
                position: absolute;
                right: 0;
                padding-left: 0px;
              }

              .text:first-child {
                position: absolute;
                top: 22px;
                left: 0px;
                width: 20px;
                color: transparent;

                span {
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }

            .details-rb {
              order: 1;
              width: 80%;

              :not(.two-row):first-child {
                flex-direction: column;
                justify-content: flex-start;

                .two-row {
                  width: 100%;

                  p {
                    margin-bottom: 10px !important;
                    font-size: 10px !important;
                  }
                }
              }
            }
          }
        }

        .left,
        .right {
          width: 50%;
        }

        .left {
          .top {
            display: flex;
            flex-direction: row;

            .label {
              /* identical to box height, or 12px */
              color: #8c8c8c;
              font-weight: normal;
              font-style: normal;
              font-size: 12px;
              font-family: Montserrat;
              line-height: 100%;
            }

            .text {
              /* identical to box height, or 12px */
              color: #000000;
              font-weight: normal;
              font-style: normal;
              font-size: 12px;
              font-family: Montserrat;
              line-height: 100%;
            }
          }

          .bottom {
            display: flex;
            flex-direction: row;

            .text {
              /* identical to box height, or 18px */
              color: #000000;
              font-weight: normal;
              font-style: normal;
              font-size: 12px;
              font-family: Montserrat;
              line-height: 150%;

              &.padding-left {
                padding-left: 30px;
              }
            }
          }
        }
      }

      &.desktop {
        display: flex;
        flex-direction: row;
        padding: 19px 25px 30px 25px;

        .user-details {
          padding-right: 30px;
          width: 37%;

          .details-r {
            flex-grow: 1;
            padding-left: 15px;

            .details-rt {
              display: flex;
            }

            .details-rb {
              .two-row {
                p {
                  font-size: 14px;

                  &.label {
                    color: #8c8c8c;
                  }

                  &.text {
                    color: #000000;
                  }
                }
              }
            }
          }
        }

        .comments {
          padding-right: 35px;
          padding-left: 15px;
          width: 48%;

          @media (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
            width: 100% !important;

            .comment-form-container {
              order: 1;
              width: 100%;

              .form-control {
                font-size: 12px !important;
                line-height: 21px !important;
              }
            }

            .status-heading {
              order: 2;
              padding: 0 !important;
              width: 10%;
              line-height: 37.3px !important;
            }

            p.status-heading {
              margin-bottom: 0 !important;
              font-size: 12px;
            }

            .status-steps {
              order: 3;
              margin: 0 !important;
              width: 90%;

              .step {
                padding: 10px 25px 10px 15px !important;
                font-size: 10px !important;
                line-height: 10px !important;
              }
            }
          }

          @media (max-width: 575px) {
            .comment-form-container {
              .form-control {
                margin-top: 5px;
                padding: 9px 15px;
                height: 65px !important;
                font-size: 10px !important;
                line-height: 15px !important;
              }
            }

            .status-heading {
              order: 2;
              padding: 0 !important;
              width: 10%;
              line-height: 37.3px !important;
            }

            p.status-heading {
              display: none;
            }

            .status-steps {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              width: 100%;

              .connector {
                display: none;
              }

              .status-select-dropdown:nth-child(3) {
                width: 100%;
              }

              .step {
                margin-bottom: 10px;
                min-width: auto;
                width: 48%;
              }
            }
          }

          .status-heading {
            padding-left: 15px;
            /* identical to box height, or 100% */
            color: #000000;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            font-family: Montserrat;
            line-height: 14px;
          }

          .status-steps {
            display: flex;
            align-items: center;
            margin-top: 16px;
            margin-bottom: 25px;

            .step {
              padding: 12px 25px 12px 15px;
              border-radius: 10px;
              background: #ffffff;
              box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
              font-weight: bold;
              font-style: normal;
              font-size: 12px;
              font-family: Montserrat;
              line-height: 12px;

              .number {
                padding-right: 7px;
                color: #45c7f1;
              }

              &.done {
                background: #623695;
                color: #ffffff;

                .number {
                  color: #ffffff;
                }
              }

              &.last {
                flex-grow: 1;
                padding: 12px 12px 12px 15px;
              }
            }

            .connector {
              top: 226px;
              left: 871px;
              width: 30px;
              height: 2px;
              background: #45c7f1;

              &.done {
                background: #623695;
              }
            }
          }

          .comment-form-container {
            position: relative;

            .edit-button {
              position: absolute;
              right: 10px;
              bottom: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 34px;
              height: 34px;
              border-radius: 25px;
              background: #ffffff;
              box-shadow: 0px 10px 25px rgba(98, 54, 149, 0.25);

              @media (max-width: 575px) {
                width: 31px;
                height: 31px;
              }

              .icon-pencil {
                padding: 16px;
              }

              .icon-pencil:before {
                color: #623695;
                content: '\e901';
                font-family: CustomIcons;
              }
            }
          }
        }

        .actions {
          padding: 0 15px;
          width: 15%;

          @media (max-width: 991px) {
            padding: 0 !important;
            width: 9% !important;

            .action-button {
              margin: 0 !important;
              padding: 7px 12px !important;
              width: auto !important;

              span {
                display: none;
              }
            }

            :nth-child(2) {
              margin-top: 10px !important;
            }
          }

          @media (max-width: 575px) {
            display: none;
          }

          .action-button {
            margin-bottom: 10px;
            padding-left: 15px;
            width: 148px;
            border-radius: 5px;
            background: #623695;
            color: #ffffff;
            text-align: left;

            span {
              padding-left: 10px;
              font-weight: bold;
              font-style: normal;
              font-size: 12px;
              font-family: Montserrat;
              line-height: 14px;
            }

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .probability {
        color: #000000;
        font-weight: normal;
        font-size: 14px;

        .padding-left {
          padding-left: 30px;
        }
      }

      .leads-avatar {
        height: 50px;
        border-radius: 100%;

        @media (max-width: 575px) {
          height: 36px;
        }
      }
    }

    @media (max-width: 1200px) {
      .leads-item-container {
        .user-details {
          padding-right: 0;
          width: 36%;
        }

        .comments {
          padding: 0 !important;
          width: 46% !important;

          svg {
            margin-left: 5px;
          }
        }

        .actions {
          padding: 0 0 0 15px !important;
          width: 18% !important;

          >* {
            margin: 5px 0;
          }

          .btn:first-child {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

.leads-item-container {
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  .comments {
    @media (max-width: 991px) {
      order: 1;
    }
  }
}

.status-select-dropdown {
  flex-grow: 1;

  .status-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 12px 15px;
    border-color: transparent;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25);
    color: #000;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 12px;

    @media (max-width: 991px) {
      padding: 8px 12px 8px 15px;
      font-size: 10px;
      line-height: 10px;
    }

    &.successful {
      background: #07b819;
      color: #fff;

      .number {
        color: #fff;
      }

      .chevron-down path {
        background-color: white;
      }
    }

    &.failed {
      background: #ec1b1b;
      color: #fff;

      .number {
        color: #fff;
      }

      .chevron-down path {
        background-color: white;
      }
    }

    &::after {
      display: none;
    }

    &:focus {
      box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25) !important;
    }

    &:hover {
      border-color: transparent;
      text-decoration: none;
    }

    .number {
      padding-right: 7px;
      color: #45c7f1;
    }
  }

  &.show {
    .status-dropdown-btn {
      border-color: transparent !important;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background: inherit !important;
      color: inherit !important;
    }

    .status-select-dropdown-menu {
      margin: 0;
      padding: 12px 12px 12px 15px;
      width: 100%;
      border: none !important;
      border-top: none;
      border-radius: 10px;
      box-shadow: 0px 10px 25px rgba(88, 63, 164, 0.25) !important;
      transform: none !important;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        color: #000;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
        font-family: Montserrat;
        line-height: 12px;

        @media (max-width: 991px) {
          font-size: 10px;
        }

        .number {
          padding-right: 7px;
          color: #45c7f1;
        }
      }

      .status-dropdown-item {
        margin-bottom: 18px;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
        font-family: Montserrat;
        line-height: 12px;

        @media (max-width: 991px) {
          font-size: 10px;
        }

        &.dropdown-item {
          padding: initial;
        }

        &.last {
          margin-bottom: 10px;
        }

        &.success {
          color: #07b819;
        }

        &.error {
          color: #ec1b1b;
        }

        &:active {
          background-color: transparent;
        }

        .icon-Vectortick-mark,
        .icon-cross-mark {
          padding-right: 7px;
          font-size: 8px;
        }

        // check mark icon
        .icon-Vectortick-mark:before {
          color: #07b819;
          content: '\e902';
          font-family: CustomIcons;
        }

        .icon-cross-mark:before {
          color: #ec1b1b;
          content: '\e900';
          font-family: CustomIcons;
        }
      }
    }
  }
}

:lang(ru) {
  .leads-dashboard {
    .site-action-container {
      .site-title {
        @media (max-width: 991px) {
          font-size: 20px;
        }
      }
    }

    .leads {
      .leads-item-container {
        .probability {
          font-size: 12px;

          .padding-left {
            @media (max-width: 678px) {
              padding-left: 5px;
            }
          }
        }

        .user-details {
          .details-r {
            .details-rb {
              :first-child {
                .two-row {
                  p.text {
                    width: 60%;
                    font-size: 12px;
                  }

                  p.label {
                    width: 40%;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

        &.desktop {
          .comments {
            .status-steps {
              .step {
                padding: 12px;
              }
            }
          }

          .actions {
            .action-button {
              padding-left: 9px;

              span {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
