.login-page {
  margin: 75px auto;

  .centre-alligned-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      @media (max-width: 480px) {
        position: absolute;
        top: 18px;
        left: 15px;
      }
    }

    .login-form-container {
      margin-top: 60px;
      padding: 30px;
      width: 330px;
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

      @media (max-width: 480px) {
        box-shadow: none;
        width: 100%;
        padding: 15px;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        @media (max-width: 480px) {
          text-align: center;
          justify-content: center;
          margin-bottom: 0;
          margin-top: 100px;
        }

        .close-button-container {
          @media (max-width: 480px) {
            position: absolute;
            top: 25px;
            right: 21px;
            img {
              position: relative;
              top: 0;
              right: 0;
            }
          }
        }

        .login-title {
          margin-top: 10px;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }

  .form-row {
    margin-top: 20px;

    .modal-submit,
    .sign-up-btn {
      @media (max-width: 480px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .purple-button {
    min-width: unset !important;
  }

  .close-button-container {
    &:hover {
      opacity: 0.7;
    }
  }
}

.sign-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  border-color: transparent !important;
  color: #623695 !important;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat;
  line-height: 20px;
  /* identical to box height */

  text-decoration-line: underline;
}
