// For mobile
@media (max-width: 480px) {
  .navbar .navbar-brand .dropdown {
    display: none;
  }

  .heading-text {
    font-size: 24px;
    line-height: 120%;
  }

  .get-started-page {
    .get-started-content {
      width: initial;
    }
  }
}

// For tablet
@media (max-width: 991px) {
  .banner-section {
    .actors-svg {
      display: none;
    }

    .actors-svg-tablet {
      margin: 0 auto;
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .footer-links {
    display: none;
  }

  .footer-credit-cards {
    @media (max-width: 575px) {
      padding: 0;
    }
    img {
      width: 111px;

      @media (max-width: 768px) {
        width: 101px;
      }

      @media (max-width: 575px) {
        width: 54px;
        padding: 0;
      }
    }
  }
}

// For Desktop
@media (min-width: 992px) {
  .banner-section {
    .actors-svg {
      max-width: 100%;
      display: block;
    }

    .actors-svg-tablet {
      display: none;
    }
  }
}
