.custom-modal-backdrop {
  background-color: #fff !important;

  &.show {
    opacity: 0.95 !important;
  }
}

.modal-dialog {
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    margin: 0;
    max-width: 100% !important;
  }

  @media (max-width: 991px) {
    max-width: 760px;
  }

  &.modal {
    .modal-header {
      padding-bottom: 20px;
    }
  }

  .modal-content {
    margin-top: 80px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

    @media (max-width: 768px) {
      margin-top: 0;
      min-height: 100%;
      border-radius: unset;
    }
  }

  .modal-header {
    align-items: center;
    padding: 35px 25px 32px 25px;
    border-bottom-color: transparent;

    @media (max-width: 575px) {
      padding: 20px 15px;
    }

    .section-header-text {
      @media (max-width: 768px) {
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
      }
    }

    .modal-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;

      /* identical to box height, or 100% */
      @media (max-width: 991px) {
        font-size: 22px;
        line-height: 22px;
      }

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .close-button-container {
      cursor: pointer;

      img {
        @media (max-width: 767px) {
          width: 39.44px;
        }

        @media (max-width: 575px) {
          width: 25.36px;
        }
      }

      span {
        font-size: 18px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .modal-body {
    padding: 30px;
    padding-top: 0;

    @media (max-width: 768px) {
      padding: 0px 45px 60px 45px;
    }

    @media (max-width: 575px) {
      padding: 0px 15px 20px 15px;
    }

    .form-group {
      @media (max-width: 575px) {
        margin-bottom: 10px;
      }
    }
  }
}

.oculisa-custom-modal {
  max-width: 630px !important;
  width: 100% !important;

  @media (max-width: 768px) {
    max-width: 100% !important;
  }
}

.form-check-label {
  color: #373737 !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.radio-label {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */
  @media (max-width: 767px) {
    font-size: 14px;
  }

  @media (max-width: 575px) {
    margin-bottom: 0;
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.modal-submit-btn {
  padding-right: 50px;
  padding-left: 50px;
  height: 54px;
  border-color: transparent;

  @media (max-width: 991px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    width: 100%;
    font-size: 12px;
  }
}

.modal-submit {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

// CSS for edit site modal
.edit-site-modal {
  .modal-header {
    @media (max-width: 768px) {
      padding: 30px 45px 0px 45px !important;
    }

    @media (max-width: 575px) {
      padding: 20px 15px 0px 15px !important;
    }
  }

  .modal-title {
    font-size: 36px !important;
    line-height: 36px !important;
    /* identical to box height, or 100% */
  }

  .site-title {
    /* identical to box height, or 100% */
    color: #623695;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }

  .edit-site-content {
    overflow-y: auto;
    height: 85vh;

    .section-header-wrapper {
      margin-top: 35px;
      margin-bottom: 30px;

      @media (max-width: 575px) {
        padding: 0 15px;
      }

      .section-step-title {
        @media (max-width: 575px) {
          margin-bottom: 0px !important;
        }
      }

      &.first {
        margin-top: 0 !important;

        @media (max-width: 575px) {
          margin-bottom: 0px !important;
        }
      }
    }
  }
}

.request-integration {

  .checkboxes {
    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;

    label {
      position: relative;
      top: 2px;
      margin-left: 10px;
      font-weight: bold;
    }

    @media (max-width: 480px) {
      text-align: center;

      grid-template-columns: 1fr;
    }
  }

  .radio-label {
    margin-top: 5px;
  }

  .form-check {
    label {
      margin-top: 3px;
    }
  }

  .comments {
    label {
      font-weight: normal;
    }

    .form-label {
      span {
        font-size: 14px;
      }

      @media (max-width: 767px) {
        font-size: 14px;

        span {
          font-size: 12px;
        }
      }
    }
  }

  button {
    min-width: 161px;
    border-radius: 10px;
  }
}

.inp-radio--block {
  dposition: relative;
  user-select: none;
}

.inp-radio--block .inp-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #bababa;
  border-radius: 50%;
  background-color: transparent;
  transform: translateY(-50%);
}

.inp-radio--block .inp-radio:checked~.checkmark {
  background-color: transparent;
}

.checkmark:after {
  position: absolute;
  display: none;
  content: '';
}

.inp-radio--block .inp-radio:checked~.checkmark:after {
  display: block;
}

.inp-radio--block .checkmark:after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #623695;
}

// Russian language css
:lang(ru) {
  .modal-submit-btn {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
}
