.payments {
  margin-top: 40px;

  @media (max-width: 575px) {
    margin-top: 0px;
  }

  &.container {
    padding: 0;
  }

  .row {
    .col-lg-4.col-md-6.col-sm-12 {
      &:first-child {
        @media (max-width: 991px) {
          padding-right: 30px;
        }
        @media (max-width: 768px) {
          padding: 0;
        }

        .cards-logo-container {
          @media (max-width: 575px) {
            display: none;
          }
        }

        .current-balance {
          @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
          }

          @media (max-width: 575px) {
            margin-top: 0px;
            padding: 20px 35px;
          }

          .title,
          .leads-number {
            @media (max-width: 991px) {
              font-size: 22px;
              line-height: 16px;
              margin-bottom: 0;
            }
            @media (max-width: 575px) {
              font-size: 18px;
              line-height: 16px;
            }
          }

          .line-button-container {
            @media (max-width: 991px) {
              margin-top: 25px;
            }
            @media (max-width: 575px) {
              order: 3;
              margin-top: 20px;
            }
            a {
              @media (max-width: 991px) {
                font-size: 14px;
                line-height: 16px;
              }
            }
          }

          .leads-number {
            @media (max-width: 991px) {
              order: 3;
            }
            @media (max-width: 575px) {
              order: 2;
              padding-top: 20px;
            }
          }
        }
      }
    }
    .col-lg-8.col-md-6.col-sm-12 {
      .current-balance {
        @media (max-width: 991px) {
          padding: 25px 30px;
        }

        @media (max-width: 575px) {
          padding: 25px 35px;
        }

        .title {
          @media (max-width: 991px) {
            font-size: 22px;
            line-height: 16px;
          }

          @media (max-width: 480px) {
            font-size: 18px;
            line-height: 16px;
          }
        }
        .request-number-label {
          @media (max-width: 991px) {
            font-size: 14px;
            line-height: 16px;
          }
          @media (max-width: 480px) {
            font-size: 12px;
            line-height: 12px;
            margin-top: 20px;
          }
        }
        .request-number {
          @media (max-width: 991px) {
            font-size: 18px;
            line-height: 16px;
          }
        }
        .amount {
          .label,
          .total {
            @media (max-width: 991px) {
              font-size: 14px;
              line-height: 32px;
              margin: 0;
              padding: 0;
            }
            @media (max-width: 575px) {
              font-size: 12px;
              line-height: 32px;
            }
          }
          .total {
            @media (max-width: 991px) {
              font-size: 22px;
            }
            @media (max-width: 575px) {
              font-size: 18px;
              line-height: 18px;
            }
          }
        }
        .tariff {
          .label {
            @media (max-width: 991px) {
              font-size: 14px;
              line-height: 14px;
            }
          }
          .tariff-type {
            @media (max-width: 991px) {
              font-size: 22px;
              line-height: 16px;
            }
            @media (max-width: 575px) {
              font-size: 18px;
              line-height: 18px;
            }
          }
        }
        .submit-section {
          .purple-button {
            font-size: 14px;
            line-height: 17px;
            @media (max-width: 575px) {
              width: 100%;
            }
          }
        }

        .number {
          @media (max-width: 480px) {
            order: 2;
            margin-left: 26px;
          }
        }
        .amount {
          @media (max-width: 480px) {
            margin-left: 0;
          }
        }
      }
      &:nth-child(2) {
        @media (max-width: 991px) {
          padding: 0;
        }
      }
    }
  }

  .current-balance {
    position: relative;
    margin-top: 30px;
    padding: 25px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);

    @media (max-width: 575px) {
      border-radius: 0;
    }

    .title {
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      font-family: Montserrat;
      line-height: 16px;
    }

    .leads-number {
      padding-top: 35px;
      font-weight: bold;
      font-style: normal;
      font-size: 24px;
      line-height: 16px;
    }

    .line-button-container {
      margin-top: 35px;

      .line-button {
        color: #623695;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        font-family: Montserrat;
        line-height: 16px;

        text-decoration-line: underline;
      }
    }

    .icon-container {
      position: absolute;
      top: 15px;
      right: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      width: 34px;
      height: 34px;
      border-radius: 100%;
      background: #ffffff;
      box-shadow: 0px 10px 25px rgba(98, 54, 149, 0.25);

      @media (max-width: 575px) {
        display: none;
      }

      .icon-reload-icon:before {
        color: #623695;
        content: '\e903';
        font-size: 15px;
        font-family: CustomIcons;
      }
    }

    .request-number-label {
      margin-top: 30px;
      /* identical to box height, or 100% */
      color: #000000;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      font-family: Montserrat;
      line-height: 16px;
    }

    .payment-amount {
      display: flex;
      flex-direction: row;
      margin-top: 22px;

      .number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-top: 8px;
        padding: 8px;
        width: 129px;
        height: 54px;
        border: 1px solid #ddd8ec;
        border-radius: 10px;

        .controls {
          color: #623695;
          /* identical to box height, or 53% */
          text-align: center;
          font-weight: bold;
          font-style: normal;
          font-size: 30px;
          line-height: 16px;
        }

        .request-number {
          color: #623695;
          /* identical to box height, or 53% */
          text-align: center;
          font-weight: normal;
          font-style: normal;
          font-size: 30px;
          font-family: Montserrat;
          line-height: 16px;
        }
      }

      .amount {
        margin-left: 28px;

        .label {
          /* or 200% */
          color: #8c8c8c;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          font-family: Montserrat;
          line-height: 32px;
        }

        .total {
          padding-top: 5px;
          /* identical to box height, or 67% */
          color: #000000;
          font-weight: bold;
          font-style: normal;
          font-size: 24px;
          line-height: 16px;
        }
      }
    }

    .tariff {
      margin-top: 30px;

      .label {
        /* or 200% */
        color: #8c8c8c;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        font-family: Montserrat;
        line-height: 100%;
      }

      .tariff-type {
        padding-left: 32px;
        font-weight: bold;
        font-style: normal;
        font-size: 24px;
        line-height: 16px;
      }

      .percent {
        padding-left: 10px;
        /* or 200% */
        color: #623695;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 100%;
      }
    }

    .submit-section {
      margin-top: 25px;

      .btn {
        padding: 17px 50px;
        border-radius: 10px;
        /* identical to box height */
        color: #ffffff;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .cards-logo-container {
    margin-top: 30px;
    margin-left: 25px;

    .ml-10 {
      margin-left: 10px;
    }
  }
}

// Russian language css
:lang(ru) {
  .payments {
    .row {
      .col-lg-8.col-md-6.col-sm-12 {
        .current-balance {
          .tariff {
            .label {
              @media (max-width: 575px) {
                font-size: 12px;
              }
            }
            .tariff-type {
              @media (max-width: 991px) {
                padding-left: 12px;
                font-size: 20px;
              }
              @media (max-width: 575px) {
                padding-left: 15px;
                font-size: 14px;
              }
            }
            .percent {
              @media (max-width: 575px) {
                padding-left: 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
