.pricing-container {
  margin-top: 100px;

  @media (max-width: 991px) {
    margin-top: 35px;
  }

  @media (max-width: 767px) {
    margin-top: 0px;
  }

  .choose-tarif {
    align-items: baseline;
    margin: 50px auto;

    @media (max-width: 991px) {
      margin: 40px auto;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 30px 0;
    }

    .tarif-label {
      color: #000000;
      font-size: 18px;
      line-height: 18px;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 15px;
      }
    }

    .currency__btn__block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (min-width: 767px) {
        max-width: 255px;
      }
    }

    .btn {
      margin-right: 20px;
      border-radius: 10px;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;

      &:focus {
        box-shadow: 0 3px 7px #623695 !important;
      }

      &.not-selected {
        color: #623695;
      }

      &.selected {
        background-color: #623695;
        box-shadow: 0 3px 7px #623695;
      }

      &:last-child {
        @media (max-width: 767px) {
          margin-right: 0;
        }
      }
    }
  }

  .tariff-item {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 70px rgba(72, 199, 240, 0.2);
    height: 100%;

    .tariff-details {
      padding: 20px;
      height: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 991px) {
        padding: 15px;
      }
    }

    .tariff-name {
      padding: 10px 24px;
      width: 100%;
      border-radius: 10px;
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;

      @media (max-width: 991px) {
        font-size: 18px;
        line-height: 18px;
        padding: 18px 15px;
      }

      @media (max-width: 575px) {
        font-size: 16px;
        line-height: 16px;
        padding: 15px 15px;
      }

      &.green {
        background: #38b945;
      }

      &.red {
        background: #e83e39;
      }

      &.blue {
        background: #3f6cbf;
      }

      &.purple {
        background: #62309a;
      }
    }

    .tariff-cap {
      margin-bottom: 20px;
      color: #000000;
      font-size: 16px;
      line-height: 24px;

      @media (max-width: 991px) {
        font-size: 14px;
        line-height: 21px;
      }

      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 0;
      }
    }

    .tariff-rate {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 21px;
        align-items: flex-start;
        flex-direction: column;
        min-height: 43px;

        p {
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 12px;
        }

        span {
          font-size: 18px;
          line-height: 18px;
        }
      }

      p {
        color: #000000;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;

        @media (max-width: 575px) {
          font-size: 10px;
          line-height: 10px;
        }

        span {
          font-size: 20px;

          @media (max-width: 575px) {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }

      .save-percent {
        color: #623695;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 0;

        @media (max-width: 575px) {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    .btn {
      color: #62309a;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      box-sizing: border-box;
      height: 54px;
      border: 1px solid #623695;
      border-radius: 10px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      &:hover {
        background-color: #62309a;
        color: #fff;
      }

      @media (max-width: 991px) {
        font-size: 14px;
        line-height: 14px;
        margin-top: 17px;
        padding: 0 19px;
      }

      @media (max-width: 575px) {
        padding: 0px;
      }
    }
  }

  .tariff-tips {
    margin-top: 50px;
    padding: 0 30px;

    @media (max-width: 767px) {
      margin-top: 40px;
      padding: 0;
    }

    li {
      list-style: none;
      margin-bottom: 25px;
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        padding-left: 15px;
        color: #000000;
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 991px) {
          font-size: 18px;
          line-height: 27px;
        }

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .heading-text {
    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 47px;
    }

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 10px;
    }
  }

  .heading-desc {
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 21px;
    }

    @media (max-width: 991px) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .pricing__item {
    &:first-child,
    &:nth-child(2) {
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }
}

// Russian language css
:lang(ru) {
  .tariff-item {
    .tariff-rate {
      .save-percent {
        font-size: 10px;
      }
    }
    .tariff-cap {
      font-size: 14px;
    }
    .btn {
      @media (max-width: 575px) {
        font-size: 11px;
      }
    }
  }
}
