.banner-section.product__header__content {
  .product-tour-text {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 5px;
    }
  }

  .product-building-wrapper {
    display: flex;

    .product-building {
      margin: auto;
      max-width: 100%;

      @media (max-width: 991px) {
        margin-top: 0;
      }
    }

    @media (max-width: 767px) {
      order: 1;
    }
  }

  @media (max-width: 767px) {
    .banner-section-left {
      order: 2;
    }
  }

  a {
    min-width: 370px !important;
  }

  .animating-mouse {
    display: block;
    text-align: center;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .product-tour--btn {
    @media (max-width: 991px) and (min-width: 768px) {
      min-width: 320px !important;
      max-width: 320px !important;
    }
  }
}

.product__header__content {
  padding-top: 37px;

  @media (max-width: 991px) {
    padding-top: 15px;
  }

  @media (max-width: 767px) {
    text-align: left;
    margin-top: 0;
  }

  .banner-section-left {
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
}

.deep-analytics {
  margin-top: 100px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .deep-analytics-text {
    margin-top: 50px;

    @media (max-width: 767px) {
      text-align: center;
    }

    @media (max-width: 575px) {
      text-align: left;
    }

    .header {
      color: #000000;
      font-size: 42px;
      font-family: Comfortaa;
      line-height: 55px;

      @media (max-width: 991px) {
        font-size: 36px;
        line-height: 47px;
      }

      @media (max-width: 767px) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      @media (max-width: 575px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .details {
      margin-top: 20px;
      color: #373737;
      font-size: 20px;
      line-height: 30px;

      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 28px;
        margin-top: 0;
      }
    }
  }

  .analytics-points {
    margin-top: 56px;

    .analytics-point-header {
      margin-bottom: 0;
      color: #000000;
      font-size: 18px;
      line-height: 24px;
      min-height: 48px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        min-height: unset;
        margin-bottom: 10px;
      }

      @media (max-width: 575px) {
        min-height: 42px;
        font-size: 14px;
        line-height: 21px;
      }

      span {
        @media (max-width: 767px) {
          font-size: 10px;
          line-height: 15px;
        }

        @media (max-width: 575px) {
          font-size: 8px;
          line-height: 12px;
        }
      }
    }

    .analytics-point-desc {
      margin-top: 25px;
      margin-bottom: 0;
      color: #8c8c8c;
      font-size: 14px;
      line-height: 21px;

      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
      }

      @media (max-width: 575px) {
        font-size: 10px;
        line-height: 15px;
      }
    }

    .more-factors-text {
      color: #623695;
      font-size: 18px;
      line-height: 24px;
      max-width: 270px;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
      }
    }

    .get-started-button {
      width: 100%;
      border-radius: 10px;
      color: #ffffff;
      font-weight: bold;
      font-style: normal;
      line-height: 32px;
      font-size: 16px;
      max-width: 270px;

      @media (max-width: 767px) {
        max-width: unset;
        font-size: 14px;
        line-height: 14px;
      }

      @media (max-width: 575px) {
        max-width: unset;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

.analytics__bottom--row {
  .analytics-points {
    @media (max-width: 767px) {
      margin-top: 15px;

      &:nth-last-child(2) {
        margin-top: 20px;
      }

      &:last-child {
        margin-top: 0px;
      }
    }
  }
}

.identify-leads {
  .analytics-points {
    margin-top: 46px;
  }
}

// For mobile
@media (max-width: 575px) {
  .deep-analytics {
    .analytics-points {
      margin-top: 20px;
    }
  }
}

.identify-leads {
  .deep-analytics-text {
    max-width: 570px;

    @media (max-width: 767px) {
      text-align: center;
    }

    @media (max-width: 575px) {
      text-align: left;
    }
  }

  .banner-section-left {
    img {
      max-width: 100%;
    }
  }
}

.deep__analytics__img {
  margin: 0 !important;

  @media (max-width: 767px) {
    margin: 0 auto 30px !important;
  }
}

.product__title--block {
  display: flex;
  align-items: center;

  @media (max-width: 767px) and (min-width: 576px) {
    justify-content: center;
  }

  .deep-analytics-text {
    margin-top: 0;
  }

  .header {
    margin-bottom: 10px;
  }

  .details {
    max-width: 490px;
  }
}

.artificial__intelligence--row {
  padding-top: 50px;

  .analytics-points {
    margin-top: 0 !important;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    &:last-child {
      @media (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
  }

  .get-started-button {
    @media (max-width: 991px) {
      margin-top: 46px;
    }

    @media (max-width: 767px) {
      margin-top: 0px;
    }
  }
}

.deep-analytics {
  .analytics__bottom--row {
    width: 100%;
  }
}

.identify-leads {
  .analytics__bottom--row {
    width: 100%;

    @media (max-width: 767px) {
      width: unset;
    }
  }
}

.manage-leads,
.empower-sales,
.deep-analytics,
.identify-leads {
  .banner-section-left {
    display: flex;

    img {
      margin: auto;
      max-width: 100%;
    }
  }
}

.leads-form-section {
  margin-top: 118px;
}

.leads-form-box {
  @media (max-width: 991px) {
    padding: 30px 25px !important;
    margin: 0 !important;

    .header {
      font-size: 36px;
      line-height: 47px;
    }

    .sub-header {
      font-size: 16px;
      line-height: 20px;
    }

    .ready-form {
      flex-direction: column;

      .get-leads-btn {
        margin-left: 0;
        margin-top: 15px;
        font-size: 14px;
      }

      .oculisa-textfield {
        width: 100%;
      }

      .help-btn {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .header {
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 0;
    }
  }

  .sub-header {
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 18px !important;
    }
  }
}

// Russian language css
:lang(ru) {
  .deep-analytics {
    .analytics-points {
      .purple-button {
        font-size: 14px;
        padding: 15px 25px;
      }
    }
  }
}
