.profile-settings {
  .forgot-password-container {
    padding-top: 46px;
    .forgot-passwor-line-btn {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      text-decoration-line: underline;
      color: #623695;
    }
  }

  .row.sections-container:not(:first-child) {
    margin-top: 34px !important;
  }
}
